//レスポンシブ対応
//ブレイクポイント
$mb: 767px;
//@mediaのフォーマット
@mixin mobile {
    @media screen and (max-width: $mb) {
        @content;
    }
}


.nav-bar {
    text-align: right;

    & .nav-link {
        font-size: 30px;
        text-decoration: none;
        margin-right: 80px;
        //mobileに適応させてたいcssを書く
        @include mobile {
            font-size: 15px;
            margin-right: 30px;
        }
    }
}