//レスポンシブ対応
//ブレイクポイント
$mb: 959px;
//@mediaのフォーマット
@mixin mobile {
    @media screen and (max-width: $mb) {
        @content;
    }
}

.works-page {
    overflow-y: scroll;
    width: 100%;
    height: 90vh;
    background-color: #404040;
    margin-top: -10px;


    & .works-top {
        text-align: center;
        margin: 0px;
        font-size: 60px;
        font-weight: bold;
        color: white;
    }


    & .work-message {
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
        width: 800px;
        text-align: center;
        color: white;

        border: 2px dotted #F07040;

        @include mobile {
            width: 395px;
        }

        & .work-message-title {
            font-size: 20px;
        }
    }
}

.works-item {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}


